/* Estilos para los campos de entrada */
.input-titulo,
.input-autor,
.input-publicacion,
.input-precio,
.input-unidades {
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
   padding: 10px;
   font-size: 16px;
   border: 2px solid #3498db;
   border-radius: 5px;
   background-color: #fff;
   color: #333;
}

/* Estilos para las etiquetas */
label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   color: #333;
}

form{
   width: 350px;
}
body{
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Estilos generales para todas las etiquetas */
label[for="id_titulo"],
label[for="id_autor"],
label[for="id_publicacion"]
label[for="id_publicacion"]
label[for="id_publicacion"] {
   font-size: 16px;
}

.mostrar-todo-btn {
   /* Agrega estilos específicos para el botón "Mostrar Todo" según sea necesario */
   /* Por ejemplo: */
   background-color: #4CAF50;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* Estilos para dispositivos pequeños (móviles) */
@media screen and (max-width: 600px) {

   .input-titulo,
   .input-autor,
   .input-publicacion {
      font-size: 14px;
      padding: 8px;
   }

   label {
      font-size: 14px;
   }
}

/* Estilos generales del menú de navegación */
.main-nav {
   background-color: #333; /* Color de fondo del menú */
   padding: 10px; /* Relleno interno del menú */
}

/* Estilos de la lista de navegación */
.nav-list {
   list-style: none; /* Eliminar los estilos de la lista predeterminados */
   margin: 0; /* Eliminar el margen predeterminado de la lista */
   padding: 0; /* Eliminar el relleno predeterminado de la lista */
   display: flex; /* Hacer que la lista sea un contenedor flexible para alinear elementos horizontalmente */
}

/* Estilos de cada elemento de la lista */
.nav-item {
   margin-right: 10px; /* Espacio entre elementos de la lista */
}

/* Estilos de los enlaces */
.nav-link {
   text-decoration: none; /* Eliminar subrayado de los enlaces */
   color: #fff; /* Color del texto del enlace */
   padding: 5px 10px; /* Relleno interno del enlace */
   border-radius: 5px; /* Bordes redondeados */
   background-color: #555; /* Color de fondo del enlace */
}

/* Estilos para el enlace de inicio */
.nav-link.home {
   background-color: #f00; /* Cambiar color de fondo para el enlace de inicio */
}
