/* Estilos para los campos de entrada */
.input-titulo,
.input-autor,
.input-publicacion,
.input-precio,
.input-unidades {
   width: 100%;
   box-sizing: border-box;
   margin-bottom: 10px;
   padding: 10px;
   font-size: 16px;
   border: 2px solid #3498db;
   border-radius: 5px;
   background-color: #fff;
   color: #333;
}

/* Estilos para las etiquetas */
label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   color: #333;
}

form{
   width: 350px;
}
body{
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Estilos generales para todas las etiquetas */
label[for="id_titulo"],
label[for="id_autor"],
label[for="id_publicacion"]
label[for="id_publicacion"]
label[for="id_publicacion"] {
   font-size: 16px;
}

.mostrar-todo-btn {
   /* Agrega estilos específicos para el botón "Mostrar Todo" según sea necesario */
   /* Por ejemplo: */
   background-color: #4CAF50;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

/* Estilos para dispositivos pequeños (móviles) */
@media screen and (max-width: 600px) {

   .input-titulo,
   .input-autor,
   .input-publicacion {
      font-size: 14px;
      padding: 8px;
   }

   label {
      font-size: 14px;
   }
}