<!DOCTYPE html>
<html lang="en">
<head>
   {% load static %}
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}Mi Aplicación{% endblock %}</title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
   <div id="navbar">
      {% include 'html/navbar.html' %}
   </div>
   <div id="content">
      {% block registro %}
      {% endblock %}
      {% block login %}
      {% endblock %}
   </div>
</body>
</html>
