<!-- En listar_libros.html -->
<!DOCTYPE html>
<html lang="es">
   <head>
      {% load static %}
      <title>Lista de Libros</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>

   <body>
      <h1>Lista de Libros</h1>

      <!-- Formulario de búsqueda -->
      <form method="GET" action="{% url 'listar_libros' %}">
         <input type="text" name="q" value="{{ query }}" placeholder="Buscar por título">
         <button type="submit">Buscar</button>
         <button type="submit" name="mostrar_todo" class="mostrar-todo-btn" value="1">Mostrar Todo</button>
      </form>

      <!-- Resultados de la búsqueda o lista completa de libros -->
      {% if query %}
         <h2>Resultados de la búsqueda:</h2>
      {% else %}
         <h2>Listado completo de libros:</h2>
      {% endif %}

      <ul>
         {% for libro in libros %}
            <li>
               {{ libro.titulo }} - {{ libro.autor }} - Publicado en: {{ libro.publicacion|date:"Y-m-d" }} - Su precio es: ${{ libro.precio }} y dispones de {{ libro.unidades_disponibles }} unidades
               <a href="{% url 'modificar_libro' id=libro.id %}">Modificar</a>
               <a href="{% url 'borrar_libro' id=libro.id %}">Borrar</a>
            </li>
         {% empty %}
            <li>No hay libros disponibles</li>
         {% endfor %}
      </ul>

      <!-- Incluye la vista de "Crear Libro" dentro de "Listar Libros" -->
      <div>
         {% include 'libros/crear_libros.html' %}
      </div>
   </body>
</html>
