<!-- En el archivo listar_libros.html en tu directorio de plantillas (miapp) -->
<!DOCTYPE html>
<html lang="es">
   <head>
      {% load static %}
      <title>Lista de Libros</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>

   <body>
   <h1>Lista de Libros</h1>
   <ul>
      {% for libro in libros %}
      {# Debugging info #}
      <li>
         {{ libro.titulo }} - {{ libro.autor }} - Publicado en: {{ libro.publicacion|date:"Y-m-d" }}
         <a href="{% url 'modificar_libro' id=libro.id %}">Modificar</a>
         <a href="{% url 'borrar_libro' id=libro.id %}">Borrar</a>
      </li>
      {% empty %}
      <li>No hay libros disponibles</li>
      {% endfor %}
   </ul>
   <!-- <a href="{% url 'crear_libro' %}">crear</a> -->
   <!-- Incluye la vista de "Crear Libro" dentro de "Listar Libros" -->
   <div>
      {% include 'libros/crear_libros.html' %}
   </div>
      
   </body>

</html>